Repository leboncoin/spark-web, pull requests merged in 2023-11, with the labels that each got.

#1621 fix(dialog): dialog prevent mouse events in controlled mode
  package-lock.json
  packages/components/dialog/src/DialogContent.styles.tsx
  packages/components/dialog/src/DialogContent.tsx
Labels: bug

#1632 fix(dialog): render overlay also in fullscreen to freeze scroll on body
  packages/components/dialog/src/DialogOverlay.tsx
Labels: bug

#1617 fix(slider): focus and focus-styles management
  packages/components/slider/src/Slider.test.tsx
  packages/components/slider/src/SliderThumb.styles.ts
  packages/components/slider/src/SliderThumb.tsx
Labels: bug, slider

#1618 docs(rating): component rating docs
  package-lock.json
  packages/components/rating/src/Rating.doc.mdx
  packages/components/rating/src/Rating.stories.tsx
  packages/components/rating/src/Rating.tsx
Labels: component, rating

#1642 feat(rating): prevent null value on keyboard interaction
  packages/components/rating/src/Rating.stories.tsx
  packages/components/rating/src/Rating.test.tsx
  packages/components/rating/src/Rating.tsx
Labels: component, rating

#1636 feat(rating): upd rating input step
  packages/components/rating/src/Rating.tsx
  packages/components/rating/src/utils.test.ts
  packages/components/rating/src/utils.ts
Labels: component, rating

#1664 feat(popover): add inset prop to popover
  packages/components/popover/src/Popover.doc.mdx
  packages/components/popover/src/Popover.stories.tsx
  packages/components/popover/src/Popover.test.tsx
  packages/components/popover/src/PopoverContent.styles.ts
  packages/components/popover/src/PopoverContent.tsx
Labels: component, popover

#1665 feat(drawer): add inset prop to drawer
  packages/components/drawer/src/Drawer.doc.mdx
  packages/components/drawer/src/Drawer.stories.tsx
  packages/components/drawer/src/Drawer.test.tsx
  packages/components/drawer/src/DrawerBody.styles.ts
  packages/components/drawer/src/DrawerBody.tsx
Labels: component, drawer

#1694 feat(dropdown): add ExtendedArgTypes for documenting Dropdown sub-components
  packages/components/dropdown/src/Dropdown.doc.mdx
  packages/components/dropdown/src/Dropdown.stories.tsx
  packages/components/dropdown/src/DropdownContext.tsx
  packages/components/dropdown/src/DropdownDivider.tsx
  packages/components/dropdown/src/DropdownGroup.tsx
  packages/components/dropdown/src/DropdownItem.tsx
  packages/components/dropdown/src/DropdownItemText.tsx
  packages/components/dropdown/src/DropdownItems.tsx
  packages/components/dropdown/src/DropdownItemsGroupContext.tsx
  packages/components/dropdown/src/DropdownLabel.tsx
  packages/components/dropdown/src/DropdownPopover.tsx
  packages/components/dropdown/src/DropdownSeparator.tsx
  packages/components/dropdown/src/DropdownTrigger.tsx
  packages/components/dropdown/src/DropdownValue.tsx
  packages/components/dropdown/src/index.ts
Labels: documentation, component, dropdown
