Repository leboncoin/spark-web, pull requests merged in 2023-12, with the labels that each got.

#1709 feat(dropdown): add leadingIcon
  package-lock.json
  packages/components/dropdown/package.json
  packages/components/dropdown/src/Dropdown.doc.mdx
  packages/components/dropdown/src/Dropdown.stories.tsx
  packages/components/dropdown/src/DropdownLeadingIcon.tsx
  packages/components/dropdown/src/DropdownTrigger.tsx
  packages/components/dropdown/src/index.ts
  packages/components/dropdown/src/utils.ts
Labels: enhancement, component, dropdown

#1712 feat(dropdown): multiple selection dropdown
  package-lock.json
  packages/components/dropdown/src/Dropdown.doc.mdx
  packages/components/dropdown/src/Dropdown.stories.tsx
  packages/components/dropdown/src/Dropdown.test.tsx
  packages/components/dropdown/src/DropdownContext.tsx
  packages/components/dropdown/src/DropdownItem.tsx
  packages/components/dropdown/src/DropdownItemContext.tsx
  packages/components/dropdown/src/DropdownItemText.tsx
  packages/components/dropdown/src/DropdownTrigger.tsx
  packages/components/dropdown/src/DropdownValue.tsx
  packages/components/dropdown/src/types.ts
  packages/components/popover/src/PopoverContent.styles.ts
Labels: dropdown

#1729 fix(checkbox): apply proper color on checkbox ticks per intent
  package-lock.json
  packages/components/checkbox/src/CheckboxIndicator.tsx
  packages/components/checkbox/src/CheckboxInput.styles.ts
Labels: bug, component, checkbox

#1722 Controlled multiple selection
  package-lock.json
  packages/components/dropdown/src/Dropdown.doc.mdx
  packages/components/dropdown/src/Dropdown.stories.tsx
  packages/components/dropdown/src/Dropdown.test.tsx
  packages/components/dropdown/src/DropdownContext.tsx
  packages/components/dropdown/src/DropdownItemContext.tsx
  packages/components/dropdown/src/DropdownTrigger.tsx
  packages/components/dropdown/src/utils.ts
Labels: enhancement, component, dropdown

#1744 fix(switch): improved animation performance
  packages/components/switch/src/SwitchInput.styles.ts
  packages/components/switch/src/SwitchInput.tsx
Labels: bug, switch
