Repository leboncoin/spark-web, pull requests merged in 2023-10, with the labels that each got.

#1513 fix(button): fixed keyboard focus on outlined buttons
  package-lock.json
  packages/components/button/src/Button.styles.tsx
Labels: component, button, hacktoberfest-accepted

#1534 fix(badge): change rings for borders
  packages/components/badge/src/Badge.tsx
  packages/components/badge/src/BadgeItem.styles.tsx
Labels: component, badge

#1508 feat(button): PROPOSAL - toggle button example
  package-lock.json
  packages/components/button/src/Button.doc.mdx
  packages/components/button/src/Button.stories.tsx
  packages/components/icon-button/src/IconButton.doc.mdx
  packages/components/icon-button/src/IconButton.stories.tsx
Labels: component, button, icon-button, hacktoberfest-accepted

#1406 feat(slider): create Slider component
  package-lock.json
  packages/components/slider/.npmignore
  packages/components/slider/package.json
  packages/components/slider/src/Slider.doc.mdx
  packages/components/slider/src/Slider.stories.tsx
  packages/components/slider/src/Slider.styles.ts
  packages/components/slider/src/Slider.test.tsx
  packages/components/slider/src/Slider.tsx
  packages/components/slider/src/SliderContext.tsx
  packages/components/slider/src/SliderThumb.styles.ts
  packages/components/slider/src/SliderThumb.tsx
  packages/components/slider/src/SliderTrack.styles.ts
  packages/components/slider/src/SliderTrack.tsx
  packages/components/slider/src/index.ts
  packages/components/slider/tsconfig.json
  packages/components/slider/vite.config.ts
Labels: component, slider

#1558 feat(divider): ready
  package-lock.json
  packages/components/divider/.npmignore
  packages/components/divider/LICENSE.md
  packages/components/divider/README.md
  packages/components/divider/package.json
  packages/components/divider/src/Divider.doc.mdx
  packages/components/divider/src/Divider.stories.tsx
  packages/components/divider/src/Divider.styles.ts
  packages/components/divider/src/Divider.test.tsx
  packages/components/divider/src/Divider.tsx
  packages/components/divider/src/DividerContent.tsx
  packages/components/divider/src/index.ts
  packages/components/divider/src/variants/intents.tsx
  packages/components/divider/tsconfig.json
  packages/components/divider/vite.config.ts
Labels: component, divider
