Repository leboncoin/spark-web, pull requests merged in 2024-07, with the labels that each got.

#2294 feat(tag): expose ValidTagDesignIntent type
  packages/components/tag/src/Tag.tsx
Labels: Component, Component: tag

#2284 feat(tabs): add forceMount prop to retain inactive tab content in the DOM
  packages/components/tabs/src/Tabs.doc.mdx
  packages/components/tabs/src/Tabs.stories.tsx
  packages/components/tabs/src/Tabs.test.tsx
  packages/components/tabs/src/Tabs.tsx
  packages/components/tabs/src/TabsContent.styles.ts
  packages/components/tabs/src/TabsContent.tsx
  packages/components/tabs/src/TabsContext.tsx
Labels: Component, Component: tabs

#2262 style(accordion): disable collapse icon transition when prefers motio…
  package-lock.json
  packages/components/accordion/src/AccordionItemTrigger.tsx
Labels: Component: accordion, Type: Enhancement

#2305 fix(accordion): move padding to first element of AccordionItemContent to fix animation shifts
  packages/components/accordion/src/AccordionItemContent.tsx
Labels: Type: Bug, Component, Component: accordion

#2306 test(combobox): add additional edge cases
  package-lock.json
  packages/components/combobox/package.json
  packages/components/combobox/src/tests/edgeCases.test.tsx
Labels: Component, Component: combobox

#2307 style(combobox): missing styles on Combobox.Empty
  package-lock.json
  packages/components/combobox/src/ComboboxEmpty.tsx
Labels: Component: combobox
