Repository leboncoin/spark-web, pull requests merged in 2024-05, with the labels that each got.

#2102 fix(combobox): fix combobox highlighted index while typing
  package-lock.json
  packages/components/combobox/src/ComboboxContext.tsx
  packages/components/combobox/src/ComboboxItem.tsx
  packages/components/combobox/src/useCombobox/multipleSelectionReducer.ts
Labels: bug, combobox

#2104 fix(input): replace from fill to outline clear button
  packages/components/input/src/InputClearButton.tsx
Labels: bug, component, input

#2124 fix(combobox): multi select disabled hoverable
  packages/components/combobox/src/ComboboxSelectedItems.tsx
Labels: component, combobox

#2123 fix(combobox): placeholder only appears when there is no value on combobox
  packages/components/combobox/src/ComboboxInput.tsx
Labels: component, combobox

#2161 feat(snackbar): add option to force action btn display on new line
  packages/components/snackbar/src/Snackbar.doc.mdx
  packages/components/snackbar/src/Snackbar.stories.tsx
  packages/components/snackbar/src/Snackbar.test.tsx
  packages/components/snackbar/src/SnackbarItem.styles.ts
  packages/components/snackbar/src/SnackbarItem.tsx
  packages/components/snackbar/src/SnackbarItemAction.tsx
  packages/components/snackbar/src/SnackbarItemClose.tsx
  packages/components/snackbar/src/SnackbarItemIcon.tsx
Labels: snackbar

#2174 fix(internal-utils): missed dependency
  package-lock.json
  packages/utils/cli/package.json
Labels: bug, cli, internal-utils

#2187 fix(combobox): onValueChange was triggered even when selected item ha…
  packages/components/combobox/src/ComboboxContext.tsx
Labels: bug
