Repository leboncoin/spark-web, pull requests merged in 2024-06, with the labels that each got.

#2203 chore: adapted gh links to match new labels
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/release.yml
  packages/utils/cli/README.md
  packages/utils/cli/src/generate/templates/component/[README.md].js
Labels: Type: bug, Doc: Improvement, Size: XS

#2198 fix(select): fix disabled and readonly styles
  package-lock.json
  packages/components/select/src/SelectItems.tsx
  packages/components/select/src/SelectTrigger.styles.tsx
  packages/components/select/src/SelectValue.tsx
Labels: Component: select

#2211 chore: auto assign gh issue templates to project
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  package-lock.json
Labels: Type: Enhancement

#2212 docs(combobox): added collapsibles compound props to sb
  packages/components/collapsible/src/Collapsible.doc.mdx
  packages/components/collapsible/src/CollapsibleTrigger.tsx
Labels: Doc: Improvement, Component: combobox, Type: Enhancement

#2226 fix(combobox): missing key attribute on selected items
  packages/components/combobox/src/ComboboxSelectedItems.tsx
Labels: Type: Bug, Component: combobox

#2209 fix(combobox): removed unnecessary undefined type for combobox onValu…
  packages/components/combobox/src/Combobox.stories.tsx
  packages/components/combobox/src/ComboboxContext.tsx
Labels: Type: Bug, Component: combobox

#2248 feat(accordion): outlined and filled designs
  packages/components/accordion/src/Accordion.doc.mdx
  packages/components/accordion/src/Accordion.stories.tsx
  packages/components/accordion/src/Accordion.tsx
  packages/components/accordion/src/AccordionItem.tsx
Labels: Component: accordion, Type: Enhancement, Doc: Storybook

#2259 fix(icon): fix icon shrinking inside flex containers
  packages/components/icon/src/Icon.styles.tsx
Labels: Type: Bug, Component: form-field, Component: icon, Component: accordion

#2260 fix(accordion): accordion stable release
  package-lock.json
  packages/components/accordion/package.json
  packages/components/accordion/src/Accordion.stories.tsx
Labels: Component: accordion, Type: Release

#2261 fix(dialog): adjust the handling of the hasCloseButton flag to avoid a potential infinite loop with React 19
  packages/components/dialog/package.json
  packages/components/dialog/src/Dialog.test.tsx
  packages/components/dialog/src/DialogCloseButton.tsx
  packages/components/dialog/src/DialogContent.styles.tsx
  packages/components/dialog/src/DialogContext.tsx
  packages/components/dialog/src/DialogTitle.tsx
Labels: Type: Bug, Component, Component: dialog

#2273 feat(popover): use css "has" selector rather than JS to apply specific styles
  packages/components/popover/src/PopoverCloseButton.tsx
  packages/components/popover/src/PopoverContent.styles.ts
  packages/components/popover/src/PopoverContent.tsx
  packages/components/popover/src/PopoverContext.tsx
Labels: Component, Component: popover

#2279 feat(tag): add "surface" intent
  packages/components/tag/src/Tag.stories.tsx
  packages/components/tag/src/Tag.styles.tsx
  packages/components/tag/src/Tag.tsx
  packages/components/tag/src/variants/filled.ts
Labels: Component, Component: tag
