Repository leboncoin/spark-web, pull requests merged in 2024-04, with the labels that each got.

#2023 feat(textarea): add story showcasing customised scrollbar
  packages/components/textarea/src/Textarea.doc.mdx
  packages/components/textarea/src/Textarea.stories.tsx
Labels: component, textarea

#2005 fix: Support inverted switch order
  CONTRIBUTING.md
  packages/components/switch/src/SwitchInput.styles.ts
Labels: Waiting for Web, switch

#2007 feat: add "reverse" prop to have label placed on the left side of the input
  packages/components/checkbox/src/Checkbox.doc.mdx
  packages/components/checkbox/src/Checkbox.stories.tsx
  packages/components/checkbox/src/Checkbox.test.tsx
  packages/components/checkbox/src/Checkbox.tsx
  packages/components/checkbox/src/CheckboxGroup.tsx
  packages/components/checkbox/src/CheckboxGroupContext.tsx
  packages/components/radio-group/src/Radio.tsx
  packages/components/radio-group/src/RadioGroup.doc.mdx
  packages/components/radio-group/src/RadioGroup.stories.tsx
  packages/components/radio-group/src/RadioGroup.test.tsx
  packages/components/radio-group/src/RadioGroup.tsx
  packages/components/radio-group/src/RadioGroupContext.tsx
  packages/components/radio-group/src/RadioGroupProvider.tsx
  packages/components/switch/src/Switch.doc.mdx
  packages/components/switch/src/Switch.stories.tsx
  packages/components/switch/src/Switch.test.tsx
  packages/components/switch/src/Switch.tsx
  packages/components/switch/src/SwitchInput.tsx
Labels: component, checkbox, radio-group, switch

#2042 fix(dropdown): apply pointer-event styles correctly when dropdown is open
  packages/components/combobox/src/ComboboxItems.tsx
  packages/components/dropdown/src/DropdownItems.tsx
Labels: bug, dropdown

#2043 docs(dropdown): introduce specific stories dedicated for QA
  packages/components/dropdown/src/Dropdown.stories.tsx
Labels: documentation, component, dropdown

#2054 fix(combobox): address pointerEvents related bug
  packages/components/dropdown/src/Dropdown.stories.tsx
  packages/components/dropdown/src/DropdownItems.tsx
Labels: bug, component, dropdown

#2063 fix(select): remove code causing excessive calls to the onValueChange prop
  packages/components/select/src/Select.test.tsx
  packages/components/select/src/SelectContext.tsx
Labels: bug, component, select

#2098 chore(snackbar): improve deps declaration for sackbar
  package-lock.json
  packages/components/snackbar/package.json
Labels: dependencies, snackbar
